@{
    ViewData["Title"] = "Index";
}
<ul>
    <li><a asp-controller="Univer"  asp-action="BSTU">BSTU</a></li>
    <li><a asp-controller="Univer"  asp-action="TSTU">TSTU</a></li>
    <li><a asp-controller="Univer" asp-action="MSU">MSU</a></li>
</ul>


